@font-face {
    font-family: 'Bariol';
    src: url('/fonts/bariol/Bariol-Thin.woff2') format('woff2'),
        url('/fonts/bariol/Bariol-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    src: url('/fonts/bariol/Bariol-Bold.woff2') format('woff2'),
        url('/fonts/bariol/Bariol-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    src: url('/fonts/bariol/Bariol-Light.woff2') format('woff2'),
        url('/fonts/bariol/Bariol-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    src: url('/fonts/bariol/Bariol-Regular.woff2') format('woff2'),
        url('/fonts/bariol/Bariol-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    src: url('/fonts/bariol/BariolBold-Italic.woff2') format('woff2'),
        url('/fonts/bariol/BariolBold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    src: url('/fonts/bariol/BariolRegular-Italic.woff2') format('woff2'),
        url('/fonts/bariol/BariolRegular-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    src: url('/fonts/bariol/BariolThin-Italic.woff2') format('woff2'),
        url('/fonts/bariol/BariolThin-Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bariol';
    src: url('/fonts/bariol/BariolLight-Italic.woff2') format('woff2'),
        url('/fonts/bariol/BariolLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

